// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container {
  .side-nav {
    margin: 15px;
  }

  .main-body {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    .new-report {
      float: right;
      margin: 30px 0 30px 0;
    }

    .table {
      thead {
        .date {
          width: 10%;
        }
      }
    }

    td {
      &.download {
        display: flex;
        justify-content: flex-end;
        a {
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }
  }

  .user-form {
    padding: 30px 0px 30px 0px;
  }
}
